.page-header {
    border-bottom: solid 1px #ddd;
}
@media (max-width: 767px) {
    .page-header div {
        margin-top: -36px;
    }
}
@media (min-width: 768px) {
    .page-header div {
        margin-top: -42px;
    }
}