<div class="container">
    <div class="page-header mt-3 mb-3">
        <h2>
            <span class="d-none d-md-block">Lista de Escolas</span>
            <span class="h4 d-block d-md-none">Lista de Escolas</span>
        </h2>
        <div class="float-right">
            <a (click)="cadastrar()"
                class="btn btn-outline-secondary btn-sm">
                <i class="d-block d-md-none fa fa-plus"></i>
                <span class="d-none d-md-block">Cadastrar Nova Escola</span>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <form>
        <div class="row">
            <div class="form-group col-12 col-md-4">
                <label class="control-label" for="escolas">Escola</label>
                <select class="form-control" id="escolas">
                    <option value="" selected>-- Escolha uma escola --</option>
                    <option *ngFor="let escola of listaEscolas" [value]="escola">{{escola}}</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Listar Escolas</button>
            </div>
        </div>
    </form>
    <div class="resultados mt-5">
        <div class="table-responsive-sm">
            <table class="table">
                <thead class="bg-verde-claro">
                    <tr>
                        <th>Nome da Escola</th>
                        <th>Responsável</th>
                        <th>Telefone da Escola</th>
                        <th>CNPJ</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let escola of escolas; index as i">
                        <td>{{escola.nomeEscola}}</td>
                        <td>{{escola.nomeResponsavelEscola}}</td>
                        <td>{{escola.telefone}}</td>
                        <td>{{escola.cnpj}}</td>
                        <td>
                            <a (click)="editar(i)" class="mr-2"><i class="fa fa-pencil fa-lg"></i></a>
                            <a (click)="detalhes(i)" class="mr-2"><i class="fa fa-search fa-lg"></i></a>
                            <a (click)="excluir(i)" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>