<div class="container-lg">
    <div class="page-header mt-3 mb-4">
        <h2>
            <span class="d-none d-md-block">Detalhes da Escola: {{ nomeEscola }}</span>
            <span class="h4 d-block d-md-none">Detalhes da Escola:</span><div class="h4 d-block d-md-none text-muted mt-1">{{nomeEscola}}</div>
        </h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Nome da Escola</strong>
            <p class="lead">{{nomeEscola}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Nome do Responsável da Escola</strong>
            <p class="lead">{{nomeResponsavelEscola}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Telefone da Escola</strong>
            <p class="lead">{{telefone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>CNPJ</strong>
            <p class="lead">{{cnpj}}</p>
        </div>
    </div>    
    <div class="row mt-3">
        <div class="col-12 col-md-12">
            <a routerLink="/escola" class="btn btn-primary mb-2">
                Voltar para a listagem
            </a>
        </div>
    </div>
</div>