<div class="container-lg">
    <div class="page-header mt-3 mb-4">
        <h2>
            <span class="d-none d-md-block">Detalhes da Escola: {{ nomeEscola }}</span>
            <span class="h4 d-block d-md-none">Detalhes da Escola:</span><div class="h4 d-block d-md-none text-muted mt-1">{{nomeEscola}}</div>
        </h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Nome da Escola</strong>
            <p class="lead">{{nomeEscola}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Nome do Responsável da Escola</strong>
            <p class="lead">{{nomeResponsavelEscola}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>CNPJ</strong>
            <p class="lead">{{cnpj}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <strong>Qtd. de Alunos</strong>
            <p class="lead">{{qtdAlunos}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-12">
            <button
                type="button"
                (click)="confirmaCadastroEscola()"
                class="btn btn-primary mr-2 mb-2">
                Confirmar Cadastro
            </button>
            <button
                type="button"
                (click)="modificarCadastroEscola()"
                class="btn btn-outline-secondary mb-2">
                Modificar Dados
            </button>
        </div>
    </div>
</div>