@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.min.css';

body {
    font-family: 'Inter', sans-serif;
    color: #444;
}
h1, h2, h3, h4, h5, h6, strong, b, .navbar-brand, .control-label {
    letter-spacing: -0.025rem;
    font-weight: 500;
}
.navbar-brand {
    letter-spacing: -0.015rem;
}
.control-label {
    letter-spacing: 0;
}
.bg-verde-claro {
    background-color: #e9f4ef;
}
a {
    cursor: pointer;
}